jeet.gutter = 3

Roboto = 'Roboto Regular'
Roboto-Light = 'Roboto Light'
Raleway = 'Raleway Regular'

black-color = #000
white-color = #fff
green-color = green
gray-color = #606060

$header-font = Raleway
$body-font = Roboto